<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@500&family=Lavishly+Yours&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/dd5559ee21.js" crossorigin="anonymous"></script>
    <link
    href="css/bootstrap.min.css"
    rel="stylesheet"
    crossorigin="anonymous"
  />

  <link rel="stylesheet" href="Dashboard.css">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-grey border-bottom px-2">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" style="min-width:180px">
        <img style="height: 100px ;width: 150px; border: 2px solid black; border-radius: 50%;" src="Screenshot 2023-12-23 072014.jpg" alt="new logo" />
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class=" collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item" style="margin-right: 25px;">
            <a class="nav-link mx-2" aria-current="page" href="/Dashboard">Home</a>
          </li>
          <li class="nav-item" style="margin-right: 25px;">
            <a class="nav-link mx-2" href="/Resturant">Restaurant</a>
          </li>
          <li class="nav-item" style="margin-right: 25px;">
            <a class="nav-link mx-2" href="/Packages">Packages</a>
          </li>
        </ul>
      
      </div>
    </div>
  </nav>
  <div class="container-fluid ICon">
    <img class="IMAGE" src="image_processing20200415-12729-9u01xp.gif">
    <h3> Welcome at The Police Officers Rowing Club </h3>
    <p class="icon-text"> Police Officers Rowing Club was first Founded in 1961
    </p>
  </div>
  <div class="container-fluid Explore">
    <h2 style="margin: 15px auto 15px auto; text-align: center;"> Explore Places</h2>
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5" aria-label="Slide 6"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="6" aria-label="Slide 7"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="7" aria-label="Slide 8"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="8" aria-label="Slide 9"></button>
      </div>
      <div class="carousel-inner i_1">
        <div class="carousel-item active">
          <img src="2021-08-02.jpg"  style="margin: 15px auto 15px auto;"class="d-block w-100 imgcaro" width="500" height="500">
          <div class="carousel-caption d-none d-md-block">
            <!-- <h5>First slide label</h5>
            <p>Some representative placeholder content for the first slide.</p> -->
            <!-- <a class="btn btn-outline-danger" href="#" role="button">Link</a> -->
          </div>
        </div>
        <div class="carousel-item items">
          <img src="2022-09-16.jpg" style="margin: 15px auto 15px auto;" class="d-block w-100  imgcaro" alt="..." width="500"  height="500">
          <div class="carousel-caption d-none d-md-block">
            <!-- <h5>Second slide label</h5>
            <p>Some representative placeholder content for the second slide.</p> -->
            <!-- <a class="btn btn-outline-danger" href="#" role="button">Link</a> -->
          </div>
        </div>
        <div class="carousel-item items">
          <img src="2021-05-141.jpg" style="margin: 15px auto 15px auto;" class="d-block w-100 imgcaro" alt="..."      width="500"   height="500">
          <div class="carousel-caption d-none d-md-block">
            <!-- <h5>Third slide label</h5>
            <p>Some representative placeholder content for the third slide.</p> -->
            <!-- <a class="btn btn-outline-danger" href="#" role="button">Link</a> -->
          </div>
        </div>
        <div class="carousel-item items">
          <img src="2021-01-04.jpg" class="d-block w-100 imgcaro" alt="..."     width="500"    height="500">
          <div class="carousel-caption d-none d-md-block">
            <!-- <h5>Third slide label</h5>
            <p>Some representative placeholder content for the third slide.</p> -->
            <!-- <a class="btn btn-outline-danger" href="#" role="button">Link</a> -->
          </div>
        </div>
        <div class="carousel-item items">
          <img src="2023-04-19.jpg" class="d-block w-100 imgcaro" alt="..."    width="500"   height="500">
          <div class="carousel-caption d-none d-md-block">
            <!-- <h5>Third slide label</h5>
            <p>Some representative placeholder content for the third slide.</p> -->
            <!-- <a class="btn btn-outline-danger" href="#" role="button">Link</a> -->
          </div>
        </div>
        <div class="carousel-item items">
          <img src="2023-05-13.jpg" class="d-block w-100 imgcaro" alt="..."   width="500"   height="500">
          <div class="carousel-caption d-none d-md-block">
            <!-- <h5>Third slide label</h5>
            <p>Some representative placeholder content for the third slide.</p> -->
            <!-- <a class="btn btn-outline-danger" href="#" role="button">Link</a> -->
          </div>
        </div>
        <div class="carousel-item items">
          <img src="20210102_180704.jpg" class="d-block w-100 imgcaro" alt="..."  width="500"   height="500">
          <div class="carousel-caption d-none d-md-block">
            <!-- <h5>Third slide label</h5>
            <p>Some representative placeholder content for the third slide.</p> -->
            <!-- <a class="btn btn-outline-danger" href="#" role="button">Link</a> -->
          </div>
        </div>
        <div class="carousel-item items">
          <img src="IMG20220309190522.jpg" class="d-block w-100 imgcaro" alt="..." width="500"   height="500">
          <div class="carousel-caption d-none d-md-block">
            <!-- <h5>Third slide label</h5>
            <p>Some representative placeholder content for the third slide.</p> -->
            <!-- <a class="btn btn-outline-danger" href="#" role="button">Link</a> -->
          </div>
        </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>

  
  <div class="container-fluid Events" style="margin-top: 30px; margin-bottom: 30px;">
    <h2 style="margin: 15px auto 15px auto; text-align: center;"> Book Events and Packages</h2>
    <div class="container">
      <div style="text-align: center;"class="row ">
        <div class="col-lg">
          <div class="card" style="width: 18rem;">
            <img src=" ammarahandmubashir_0_TA7ym.jpg" class="card-img-top" alt="..." height="200">
            <div class="card-body">
              <h5 class="card-title">Wedding Package</h5>
              <p class="card-text"></p>
              <a href="/PDFs/Wedding_engament.pdf" class="btn btn-outline-danger" target="_blank">View Details</a>
            </div>
          </div>
        </div>
        <div class="col-lg">
          <div class="card" style="width: 18rem;">
            <img src="هل-تجزئ-البقرة-عن-سبعة-في-العقيقة.jpg" class="card-img-top" alt="..." height="200">
            <div class="card-body">
              <h5 class="card-title">Akika Package</h5>
              <p class="card-text"></p>
              <a  href="/PDFs/Akeka offers.pdf" class="btn btn-outline-danger" target="_blank">View Details</a>
            </div>
          </div>
        </div>
        <div class="col-lg">
          <div class="card" style="width: 18rem;">
            <img src="2020-12-25.jpg" class="card-img-top" alt="..." height="200">
            <div class="card-body">
              <h5 class="card-title">Lovely Package</h5>
              <p class="card-text"></p>
              <a href="/PDFs/Lovely Package(Yacht).pdf" class="btn btn-outline-danger" target="_blank">View Details</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div style="text-align: center;" >
   <a href="/Packages" style="margin: 30px;" class="btn btn-outline-danger" type="button" >Continune Reading</a>

    </div>
    
  </div>
  
  <div class="container-fluid Resturant" >
     <img id="menuImage" src="2020-02-05.jpg" alt="Menu Image">
     <a href="/Resturant" style="margin: 30px;" class="btn btn-outline-danger" type="button" >Check Out our Restaurant Menu</a>
  </div>
  
  <footer class="bg-dark text-white text-center py-3">
    <div class="container">
      <p>Contact us on WhatsApp: <a href="#" target="_blank" class="text-white">(+20)1212120465</a></p>


      <!-- Social Media Icons -->
      <p>Connect With us on Social Media</p>
      <div class="social-icons mt-3">
        <a href="#" target="_blank" class="text-white me-3"><i class="fab fa-instagram"></i></a>
        <a href="https://www.facebook.com/profile.php?id=100086633790380&sk=about&locale=ar_AR" target="_blank" class="text-white me-3"><i class="fab fa-facebook"></i></a>
        <a href="https://twitter.com/your_twitter_handle" target="_blank" class="text-white"><i class="fab fa-twitter"></i></a>
      </div>
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  <script
  src="js/bootstrap.bundle.min.js"
  crossorigin="anonymous"
  ></script> 
  <script src="Dashboard.js"></script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script> -->
</body>

</html>